@charset "utf-8";
/* CSS Document */

body{
	background: black;
	color: white;
}
	
.header {
	width: 100%;
	background: #844096;
	margin-bottom:100;
	
}

nav{
  	background-color: rgba(255,255,255,0.5);
	color:#FFF;
	display:inline;
	margin-top:100px;
}


a {
	color: white;
}

#nombre {
	color: white;
	float:left;
	font-size: 27px;
	text-decoration: blink;
}


img{
	margin:5px 5px;
	float:left;
	
}

from{
	background:#FFF;
}

.boton{
	background-color: #000;
	color: #FFF;
	border:0px solid #823C92;
	border-radius: 5px;
}

li{
	margin:50px 50px;
	display:inline;
	color:#999;
}
/* color lila representa #823C92*/
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #844096;
  color: white;
}

.article{
	height: 260px;
	margin: 10px;
	overflow: auto;
	background-color:#FFF;
	border:4px solid #823C92;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}